{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="container">
    <div class="products">
    {% for product in page_obj %}
        <div class="product-card">
            <a href="{% url 'product_details' product.id %}">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="image">
            </a>
            <p class="product-price">{{ product.price }} ₽</p>
            <div class="product-info">
                <p class="product-brand">{{ product.brand.name }} /</p>
                <p class="product-name">{{ product.name }}</p>
            </div>
            <p class="product-category">{{ product.category.name }}</p>
            <form method="post" action="{% url 'cart_add' product.id %}">
                {% csrf_token %}
                <button class="product-button" type="submit">Добавить в корзину</button>
            </form>
        </div>
    {% endfor %}
    </div>

    <div class="pagination">
        <div class="page-indicator">Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</div>
        {% if page_obj.number > 1 %}
            <a href="?page=1">В начало</a>
        {% endif %}

        {% for page in pagination_range %}
            {% if page == '...' %}
                <span>...</span>
            {% elif page == page_obj.number %}
                <span class="current page-num">{{ page }}</span>
            {% else %}
                <a href="?page={{ page }}">{{ page }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Вперёд</a>
        {% endif %}
    </div>
</div>
{% endblock %}
