{% load static %}
<header>
    <div class="logo">
        <a href="{% url "index" %}">
            <img src="{% static "img/logoWb.svg" %}" alt="logo">
        </a>
    </div>
    <nav>
        <div class="nav-links">
            {% if user.is_authenticated %}
                <div class="nav-link"><a href="#">Профиль</a></div>
                <div class="nav-link">
                    <form method="post" action="{% url 'logout' %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="nav-link-button">Выйти</button>
                    </form>
                </div>
            {% else %}
                <div class="nav-link"><a href="{% url 'register' %}">Регистрация</a></div>
                <div class="nav-link"><a href="{% url 'login' %}">Вход</a></div>
            {% endif %}
            <div class="nav-link"><a href="{% url 'cart_detail' %}">Корзина</a></div>
            <!--<div class="nav-link"><a href="#">Каталог</a></div>
            <div class="nav-link"><a href="#">О нас</a></div>
            <div class="nav-link"><a href="#">Контакты</a></div-->>
        </div>
    </nav>
</header>
